<div class="sidebar">
    <a href="#" class="logo">
        <i class='bx bx-calendar'></i>
        <div class="logo-name"><span></span>Timetable</div>
    </a>
    <ul class="side-menu">
        <li data-key="timetable"><a href="../settings/timetable.html"><i class='bx bx-calendar'></i><span class="link-text">Timetable</span></a></li>
        <li data-key="teachers"><a href="../settings/teachers.html"><i class='bx bx-user'></i><span class="link-text">Teachers</span></a></li>
        <li data-key="class-timetable"><a href="../views/class-timetable.html"><i class='bx bx-table'></i><span class="link-text">Class Timetable</span></a></li>
        <li data-key="teacher-timetable"><a href="../views/teacher-timetable.html"><i class='bx bx-user'></i><span class="link-text">Teacher Timetable</span></a></li>

    </ul>
    <ul class="side-menu">
        <li>
            <a href="../../backend/public/index.php/auth/logout" class="logout">
                <i class='bx bx-log-out-circle'></i>
                <span class="link-text">Logout</span>
            </a>
        </li>
    </ul>
</div>
